@charset "UTF-8";
@font-face {
  font-family: 'CC-ICONS';
  font-style: normal;
  font-weight: normal;
  src: url("http://mirrors.creativecommons.org/presskit/cc-icons.ttf") format("truetype"); }
span.cc {
  font-family: 'CC-ICONS';
  color: #ABB3AC; }

i, em {
  font-style: italic; }

a, a:visited, a:active {
  text-decoration: none;
  color: inherit; }

a:hover {
  color: #f52; }

html, body {
  height: 100%; }

body {
  font: 100%/1.5em Helvetica, "Droid Arabic Naskh", Arial, sans-serif;
  display: flex;
  flex-flow: column; }

body header {
  background-color: #333;
  box-shadow: inset 0 .35rem 0 0 #FF3617;
  color: white;
  position: relative;
  flex: 0 0 8rem; }
  body header h1 {
    line-height: 5rem;
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    left: 3rem; }
body div[role=main] {
  min-height: 4rem;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  overflow: hidden; }
body footer {
  background-color: #eee;
  color: #666;
  font-size: 1rem;
  line-height: 3rem;
  text-align: center;
  font-family: 'Book Antiqua', serif;
  flex: 0 0 3rem; }

.grid-container {
  overflow-y: scroll;
  color: #444;
  position: relative; }
  .grid-container.loading {
    overflow: hidden; }
    .grid-container.loading tr.active {
      background-color: #606060;
      background: linear-gradient(to bottom, #797979 0%, #4d4d4d 100%);
      border-bottom-color: #4d4d4d; }
  .grid-container table {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* IE 10+ */
    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
    table-layout: fixed; }
  .grid-container table, .grid-container tbody {
    outline: none; }
  .grid-container tbody tr {
    border-top: 1px solid #ddd; }
    .grid-container tbody tr:last-child {
      border-bottom: 1px solid #ddd; }
    .grid-container tbody tr.active {
      background-color: #c23;
      background: linear-gradient(to bottom, #ef512d 0%, #a52121 100%);
      border-top: 1px solid #ef512d;
      color: white; }
    .grid-container tbody tr.active + tr {
      border-top-color: #a52121; }
    .grid-container tbody tr:first-child {
      border-top: 0; }
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .grid-container .column-headers > th {
    background-color: #f2f2f2;
    background: linear-gradient(to bottom, #f8f8f8 0%, #cccccc 100%);
    font-weight: bold;
    height: 1.5em; }
    .grid-container .column-headers > th:hover {
      background-color: #e0e0e0;
      background: linear-gradient(to bottom, #e8e8e8 0%, #bbbbbb 100%); }
    .grid-container .column-headers > th.asc:after, .grid-container .column-headers > th.desc:after {
      display: inline;
      font-size: 0.75rem;
      margin-left: .75rem; }
    .grid-container .column-headers > th.asc:after {
      content: '▲'; }
    .grid-container .column-headers > th.desc:after {
      content: '▼'; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0); }

  50% {
    -webkit-transform: scale(1); } }
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.loading-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: default;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none; }

.loading .loading-overlay {
  display: flex;
  flex-flow: column;
  align-items: center; }
  .loading .loading-overlay .spinner {
    width: 4rem;
    height: 4rem;
    margin: auto;
    position: relative; }
  .loading .loading-overlay .double-bounce1, .loading .loading-overlay .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #c53811;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out; }
  .loading .loading-overlay .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }
