@charset "UTF-8";
html, body {
  height: 100%; }

body {
  font: 100%/1.5em Helvetica, "Droid Arabic Naskh", Arial, sans-serif;
  display: flex;
  flex-flow: column; }

body header {
  background-color: #333;
  box-shadow: inset 0 .35rem 0 0 #FF3617;
  color: white;
  position: relative;
  flex: 0 0 8rem; }
  body header h1 {
    line-height: 5rem;
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    left: 3rem; }
body div[role=main] {
  min-height: 4rem;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  overflow: hidden; }
body footer {
  background-color: #eee;
  color: #666;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  flex: 0 0 3rem; }

.grid-container {
  overflow-y: scroll;
  color: #444; }
  .grid-container table {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* IE 10+ */
    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none; }
  .grid-container table, .grid-container tbody {
    outline: none; }
  .grid-container tr {
    border-bottom: 1px solid #ddd; }
    .grid-container tr.active {
      background-color: #c23;
      background: linear-gradient(to bottom, #ef512d 0%, #a52121 100%);
      border-bottom-color: #a52121;
      color: white; }
  .grid-container td, .grid-container .column-headers > th {
    padding: .25rem .5rem; }
  .grid-container .column-headers > th {
    background-color: #f2f2f2;
    background: linear-gradient(to bottom, #f8f8f8 0%, #cccccc 100%);
    font-weight: bold;
    height: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
    .grid-container .column-headers > th:hover {
      background-color: #e0e0e0;
      background: linear-gradient(to bottom, #e8e8e8 0%, #bbbbbb 100%); }
    .grid-container .column-headers > th.asc:after, .grid-container .column-headers > th.desc:after {
      display: inline;
      font-size: 0.75rem;
      margin-left: .75rem; }
    .grid-container .column-headers > th.asc:after {
      content: '▲'; }
    .grid-container .column-headers > th.desc:after {
      content: '▼'; }
